

.login-container {
    width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem 1rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 4rem;
    border-radius: 16px;
    border: 1px solid $clr-border-300;
    box-shadow: 0 4px 3px $shadow-drop-1;
    background-color: $clr-surface;
}

#login-form {
    display: flex; 
    flex-direction: column;
    width: 400px;
    align-content: space-between; 
    gap: .5rem;
}

