.page-projects {
    background-color: $clr-background;
    min-width: 100vw;
    min-height: 100vh;
}

.projects-container {
    display: flex; 
    flex-direction: column; 
    padding: 2rem; 
}

.project-view {
    margin-top: 2rem; 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 2rem;
    align-content: space-evenly;
    justify-content: space-evenly;
}

.project-categories {
    display: flex; 
    flex-direction: row; 
    gap: 3rem; 
    margin-top: 2rem; 
    border-bottom: 1px solid $clr-border-200;
    

    a {
        font-size: 32px;
        font-weight: 700;
        color: $clr-body-light; 
        cursor: pointer; 
    }
}

.add-project-container {
    width: 550px;
    max-height: 90vh;
    padding: 1rem;
}

.form-project {
    width: 490px;

    header h2 {
        align-self: flex-start;
        padding: 1rem;
    }

    .form-input {
        margin-bottom: 1.5rem;
    }
}

#budget-input {
    padding-left: 2rem;
    background-image: url("/ProjectImages/Icons/Dollar-light.svg");
    background-position: 10px 13px;
    background-repeat: no-repeat;
    background-size: 18px;
}

.member-search-results {
    display: none; 
    background-color: $clr-surface;
    border: 1px solid $clr-border-300;
    border-top: none; 
    border-radius: 0 0 16px 16px; 
    max-height: 200px; 
    width: 100%; 
    position: absolute;
    top: 85%; 
    left: 0; 
    z-index: 10; 
}

.search-item {
    padding: .5rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 14px;

    &:hover {
        background-color: $clr-accent-opacity;
        border-radius: 16px;
    }

    &.active {
        background-color: $clr-accent-opacity;
        border-radius: 16px;
    }
}