.admin-left {
    
    height: 100dvh; 
    width: 50%;
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 3rem;
    padding-bottom: 5rem;
    position: relative; 
    overflow: hidden; 

    &::before {
        content: "";
        position: absolute; 
        top: -50px;
        left:-50px;
        right:-50px;
        bottom: -50px;
        background-image: url("/images/Pictures/1.svg");
        filter: blur(20px);
        background-size: cover; 
        z-index: -1; 
    }
}

.admin-text {
    position: relative; 
    z-index: 5;
    line-height: 1.2;

    p {
        padding-top: 1rem;
        color: $clr-surface;
    }
}

.admin-right {
    height: 100dvh; 
    width: 50%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#admin-login {
    box-shadow: none; 
    border: none; 
}