@model ClientEntity
@{
    List<ProjectEntity> activeProjects = [];
    List<ProjectEntity> otherProjects = [];
    foreach (var project in Model.Projects)
    {
        if (project.StatusId == 2)
        {
            activeProjects.Add(project);
        }
        else
        {
            otherProjects.Add(project);
        }
    }
}

<div class="card client-card">
	<div class="side-by-side">
		<h4>@Model.ClientName</h4>
        <button type="button" data-modal="true" class="btn-2-dots" id="btn-2-dots"></button>
        <div class="mini-modal" id="clientOptionsModal">
            <div class="modal-content options-pop-up" id="clientOptionsForm">
                <button type="button" data-controller="Client" data-action="EditClient" data-modal="true" data-target="#editClientModal" data-id=@Model.Id class="btn btn-options" id="btn-edit-client">Edit</button>
                <div class="single-line"></div>
                <button type="button" data-modal="true" data-target="#delete-client-modal" data-id="@Model.Id" class="btn btn-options btn-options-delete" id="btn-delete-client">Delete client</button>
            </div>
        </div>
	</div>
    <div class="project-group">
        <div>
            <h6>Active Projects:</h6>
        @if (activeProjects.Count > 0)
        {
            @foreach (var project in activeProjects)
            {
                <p>@project.ProjectName</p>
            }
        }
        else
        {
                <p class="projects-empty">No active projects.</p>
        }
        </div>
    </div>
    <div class="project-group">
        <h6>Other Projects:</h6>
        @if (otherProjects.Count > 0)
        {
            @foreach (var project in otherProjects)
            {
                <p>@project.ProjectName - [@project.Status.StatusName]</p>
            }
        }
        else
        {
            <p class="projects-empty">No other projects.</p>
        }
    </div>
	
</div>