@import "../abstracts/mixins";
@import "../fontAwesome/mixins";

.btn {
    @include button;
    font-family: Nunito;
    background-color: var(--clr-accent);
    height: 48px;
    color: var(--clr-white);
}

.btn-popup {
    width: 100%; 
    margin-top: 1rem; 
    color: var(--clr-white);
}

.btn-login {
    width: 100%; 
    margin: 1rem 0; 
}

.btn-page {
    width: 153px; 
}

.btn-google {
    width: 400px;
    background-color: var(--clr-grey-100);
    color: var(--clr-heading);
    font-weight: 600;
    padding-right: 2rem;
    background-image: url("/ProjectImages/Icons/google-icon.svg");
    background-position: 16px 13px;
    background-repeat: no-repeat;
    background-size: 18px;
}


//Knappar till sidopanelen
.btn-sidebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    background-color: transparent;
    color: var(--clr-heading);
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    margin: 0 .5rem;
    padding: 0 1rem 0 1rem;

    i {
        font-family: 'Font Awesome 6 Free';
        flex: 1;
    }

    p {
        flex: 6;
    }
}

.btn-sidebar:active,
.btn.btn-sidebar:hover {
    background-color: var(--clr-accent-opacity);
    color: var(--clr-accent);
}

button.btn-sidebar.active-controller {
    background-color: var(--clr-accent-opacity) !important;
    color: var(--clr-accent) !important;
}

#sidebar-clients {
    display: flex;
}

#sidebar-members {
    display: flex;
}


.btn-upload-image {
    position: relative;
    top: 37%;
    left: 37%;
    justify-self: center;
    align-self: center;
    background-color: rgb(51, 51, 51, 0.7);
    height: 40px; 
    width: 40px; 
    border-radius: 50%;
    cursor: pointer;
}

.btn-edit-image {
    position: relative;
    top: 66%;
    left: 37%;
    justify-self: center;
    align-self: center;
    background-color: rgb(51, 51, 51, 0.7);
    height: 40px; 
    width: 40px; 
    border-radius: 50%;
    cursor: pointer;
}

.btn-2-dots {
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    background-color: var(--clr-surface);
    background-image: url("/Projectimages/Icons/2dots.svg");
    background-position: 7.5px 7.5px;
    background-repeat: no-repeat;
    background-size: 24px;
    position: absolute;

    &:hover {
        background-color: var(--clr-grey-100);
    }
}

#btn-2-dots {
    align-self: start;
    justify-self: end;
    position: relative;
    top: -.5rem;
    right: -.5rem;
}

.btn-options {
    padding-left: 3.5rem;
    text-align: start;
    background-color: var(--clr-surface);
    color: var(--clr-heading);
    width: 100%;
    align-items: center;
    background-position: 14px 14px;
    background-repeat: no-repeat;
    background-size: 20px;
    z-index: 10;

    &:hover {
        background-color: var(--clr-grey-100);
    }
}

.btn-options-delete {
    background-image: url("/ProjectImages/Icons/Delete.svg");
    color: var(--clr-red);
}

.btn-message {
    background-color: var(--clr-grey-100);
    color: var(--clr-heading);
    padding: .5rem 2rem;
    width: 100%;
}

.btn-confirm-delete {
    background-color: var(--clr-red);
    color: var(--clr-surface);
    padding: .5rem 2rem;
    width: 12rem;
}

.btn-cancel-delete {
    background-color: var(--clr-grey-100);
    color: var(--clr-heading);
    padding: .5rem 2rem;
    width: 12rem;
}

#btn-edit-project {
    background-image: url("/ProjectImages/Icons/Edit.svg");
}

#btn-add-member {
    background-image: url("/ProjectImages/Icons/Add\ User.svg");
}



.btn-add-new {
    padding: .5rem 1.5rem .5rem 2.5rem;
    background-image: url("/ProjectImages/Icons/Plus.svg");
    background-position: 16px 17px;
    background-repeat: no-repeat;
    background-size: 15px;
    color: var(--clr-white);
}

.btn-close {
    @include button;
    border: none;
    height: 30px;
    width: 30px;
    background-color: transparent;

    &:hover {
        background-color: var(--clr-grey-100);
    }
}

.btn-close::after {
    content: '\f00d';
    font-family: 'Font Awesome 6 Free';
    font-weight: 700;
    font-size: 20px;
    color: var(--clr-heading);
    padding: 1rem;
    position: absolute;
    background-color: none;
    top: 27px; 
    right: 16px;
    z-index: 1;
}

.btn-remove {
    @include button;
    border: none;
    padding: .2rem;
    background-color: transparent;
    color: var(--clr-body);
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, color 0.1s ease-in-out;
    //Font awesome ?

    &:hover {
        background-color: var(--clr-grey-300);
    }
}

#google-login {
    display: flex;
    flex-direction: column;
}



.btn-x {
    height: 2rem;
    width: 2rem;
    background-color: var(--clr-grey-100);
    border: none;
    background-image: url("/ProjectImages/Icons/X.svg");
    background-position: 8px 8px;
    background-repeat: no-repeat;
    background-size: 12px;
    padding-right: .5rem;
}

.btn-signout {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: var(--clr-heading);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-family: Nunito;
    font-size: 15px;
    padding: .5rem;
    align-items: center;
}

.btn-cookie-dark {
    background-color: var(--clr-green);
    color: var(--clr-white);

    &:hover {
        background-color: var(--clr-dark-green);
    }
}

.btn-cookie-light {
    background-color: var(--clr-white);
    color: var(--clr-heading);

    &:hover {
        background-color: var(--clr-grey-300);
    }
}