.form {
    width: 490px;
    background-color: var(--clr-surface);

    button {
        justify-self: center;
        align-self: center;
    }

    .form-content {
        display: flex;
        flex-direction: column;
    }

    .form-input {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 100%;
        margin: .5rem 0;

        label {
            text-align: left;
            font-weight: 600;
        }

        .input-group {
            position: relative;
            width: 100%;
            height: 48px;


            input {
                border: none;
                width: 100%;
                height: 100%;
                border-radius: 16px;
                border: 1px solid var(--clr-border-300);
                padding: 0 1rem;
                font-family: Nunito;
                font-weight: 400;
                font-size: 15px;
                background-color: transparent;
            }

            select {
                border-radius: 16px;
                border: 1px solid var(--clr-border-300);
                width: 100%;
                height: 100%;
                font-family: Nunito;
                font-weight: 400;
                font-size: 15px;
                background-color: transparent;
                padding: 0 1rem;

                .option-dropdown {
                    color: var(--clr-body);
                    background-color: var(--clr-surface);
                    font-family: Nunito;
                    font-weight: 400;
                    font-size: 15px;
                }
            }

            placeholder {
                color: var(--clr-body);
                font-family: Nunito;
                font-weight: 400;
                font-size: 15px;
            }
        }

        .long-form-input {
            height: 200px;
            width: 100%;
        }
    }

    .horizontal-form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        align-content: center;
    }

    #input-password {
        padding-right: 2rem;
        background-image: url("/ProjectImages/Icons/Hide.svg");
        background-position: 365px 13px;
        background-repeat: no-repeat;
        background-size: 18px;
    }
}
