.project-card {
    height: 276px; 
    width: 350px; 
    position: relative; 
    color: var(--clr-heading);
}

.project-icon {
    height: 56px; 
    width: 56px; 
    border-radius: 16px; 
}

.horizontal-project {
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.project-info {
    padding: 1rem 0;
    flex: 3;
}

.time-left {
    width: 113px;
    height: 34px;
    font-weight: 600;
    font-size: 12px;
    border-radius: 16px;
    padding: .5rem .5rem .5rem 1.9rem;
    background-image: url("/ProjectImages/Icons/Time.svg");
    background-position: 7px 7px;
    background-repeat: no-repeat;
    background-size: 20px;
    align-self: start;
}

.overdue {
    background-color: var(--clr-red-opacity);
    color: var(--clr-red);
}

.due-soon {
    background-color: var(--clr-yellow-opacity);
    color: var(--clr-yellow);
}

.on-track {
    background-color: var(--clr-grey-200);
    color: var(--clr-body);
}

#avatars {
    gap: .5rem; 
}

.team-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    aspect-ratio: 1;
}