.member-selector {

}

.member-search-results {

}

.search-item:hover,
.search-item.active {
    background-color: $clr-accent-opacity;
}


.no-results {
    padding: .5rem; 
}

.search-error {
    color: var(--clr-red);
}

.member {
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    background-color: $clr-grey-opacity;
    border-radius: 16px;
    padding: .3rem;
    gap: .5rem; 
}

.user-avatar {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    aspect-ratio: 1;
}

.input-group .member-selector {


}

.selected-member-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
}

.focused {

}