.upload-image {
    height: 150px; 
    width: 150px;
    justify-self: center;
    border-radius: 25%;
    border: 2px $clr-grey-400 dashed; 
}

.edit-image {
    height: 150px; 
    width: 150px;
    justify-self: center;
    border-radius: 25%;
    border: 2px $clr-grey-400 dashed; 
}