.upload-image {
    height: 150px;
    width: 150px;
    align-self: center;
    border-radius: 25%;
    border: 2px var(--clr-grey-400) dashed;
    margin: 1rem;
}

.edit-image {
    height: 150px;
    width: 150px;
    align-self: center;
    border-radius: 25%;
    border: 2px var(--clr-grey-400) dashed;
}
