.input-validation-error {
    border: 1px var(--clr-red);
}

.field-validation-error {
    color: var(--clr-red);
    font-size: 13px;
    position: absolute;
    top: 9px;
    right: 6px;
    background-color: var(--clr-red-opacity);
    border-radius: 12px;
    padding: .4rem 1rem;
    text-align: right;
    display: flex;
    gap: .5rem;
    align-items: center;
    z-index: 1;
}