<div id="cookieModal" class="modal">
	<div class="modal-content cookie-modal-content">
		<div class="content">
			<h3>You control your information</h3>
			<p>We and our business partners use technology, including cookies, to gather information about you, for different purposes, including: personalization of content and advertisments, site traffic analytics, and to give access to functions.</p>
			<p>By checking "Consent to all" you give your consent to all these purposes. You can also decide which purposes you consent to by checking the box right by the individual purpose and then click "Save settings".</p>
			<p>You can decide to withdraw your consent at any time, by clicking the small icon at the bottom left corner of the page.</p>
			<p>Click the link to read more about how we're using cookies and other technical solutions, and how we gather and treat your personal information.</p>
			<a href="">Read more...</a>
		</div>
		<form id="cookieConsentForm" class="settings">
			<h4>Cookies</h4>
			<div class="options">
				<div class="option">
					<label class="switch-label" for="cookieEssential">
						<i class="fa-solid fa-chevron-down"></i>
						Essential (always active)
					</label>
					<label class="switch">
						<input type="checkbox" id="cookieEssential" name="essential" checked disabled />
						<span class="slider round"></span>
					</label>
				</div>
				<div class="option">
					<label class="switch-label" for="cookieFunctional">
						<i class="fa-solid fa-chevron-down"></i>
						Functional
					</label>
					<label class="switch">
						<input type="checkbox" id="cookieFunctional" name="functional"/>
						<span class="slider round"></span>
					</label>
				</div>
				<div class="option">
					<label class="switch-label" for="cookieAnalytical">
						<i class="fa-solid fa-chevron-down"></i>
						Analytics & Statistics
					</label>
					<label class="switch">
						<input type="checkbox" id="cookieAnalytics" name="analytical"/>
						<span class="slider round"></span>
					</label>
				</div>
				<div class="option">
					<label class="switch-label" for="cookieMarketing">
						<i class="fa-solid fa-chevron-down"></i>
						Marketing
					</label>
					<label class="switch">
						<input type="checkbox" id="cookieMarketing" name="marketing"/>
						<span class="slider round"></span>
					</label>
				</div>
			</div>
			<footer class="vertical">
				<button type="button" class="btn btn-popup btn-cookie-dark" onclick="acceptAll()">Consent to all</button>
				<button type="button" class="btn btn-popup btn-cookie-light" onclick="acceptSelected()">Save settings</button>
			</footer>
		</form>
	</div>
</div>

