<footer class="main-footer">
    <div class="cookieConsentIcon" onclick="openCookieConsentModal()">
        <i class="fa-solid fa-cookie-bite"></i>
    </div>
    <div class="center">
        <p>© 2025 Alpha. All rights reserved.</p>
    </div>
</footer>

<script src="~/js/cookie-consent.js" asp-append-version="true"></script>