<div class="header">
    <a class="header-link" asp-action="Index" asp-controller="Project">
        <img src="~/ProjectImages/Logos/alpha-logo.svg" alt="Alpha logo." />
        <h3 id="logo-text">alpha</h3>
    </a>
</div>