

<div id="settings-dropdown-button" data-type="dropdown" data-target="#settings-dropdown" class="btn-dropdown btn-settings fa-solid fa-gear">
	<div id="settings-dropdown" class="card dropdown-container settings-dropdown-container">
		<div  class="settings-dropdown">
			<div class="dropdown-header">
				<h5>Settings</h5>
			</div>
			<div class="dropdown-line"></div>
			<div class="options-container">
				
			</div>
		</div>
	</div>
</div>