<aside class="sidebar">
    <button class="btn btn-sidebar active" id="sidebar-projects">
        <i class="fa-solid fa-solid fa-suitcase"></i>
        <p>Projects</p>
    </button>
    <button class="btn btn-sidebar" id="sidebar-members">
        <i class="fa-solid fa-users-line"></i>
        <p>Team Members</p>
    </button>
    <button class="btn btn-sidebar" id="sidebar-clients">
       <i class="fa-solid fa-handshake-simple"></i>
        <p>Clients</p>
    </button>
    <button class="btn btn-sidebar" id="sidebar-statuses">
        <i class="fa-solid fa-traffic-light"></i>
        <p>Statuses</p>
    </button>
   
</aside>