<div class="top-bar">
    <div class="search-input">
        <p>Search anything...</p>
    </div>
    <a id="btn-notifications">
        <img src="~/ProjectImages/Icons/bell-ringing.svg" alt="Notification bell icon." />
    </a>
    <a id="btn-settings">
        <img src="~/ProjectImages/Icons/Setting.svg" alt="Settings icon." />
    </a>
    <a id="btn-account">
        <img src="~/ProjectImages/Icons/Avatar.svg" alt="Avatar icon." />
    </a>
</div>