<div class="top-bar">
    <div class="search-function" id="search-bar-top">
        <div class="search-input">
            <label class="Looking-glass"><i class="fa-solid fa-magnifying-glass"></i></label>
            <input type="text" id="free-text-search" placeholder="Search anything..." />
        </div>
        <div id="free-text-search-results" class="free-text-search-results"></div>
    </div> 
    @await Html.PartialAsync("Partials/Components/_NotificationDropdown")
    @await Html.PartialAsync("Partials/Components/_SettingsDropdown")
    @await Html.PartialAsync("Partials/Components/_AccountDropdown")
</div>

<script>
     document.addEventListener('DOMContentLoaded', function() {
         initSearch({
            containerId: 'search-bar-top',
            inputId: 'free-text-search',
            resultsId: 'free-text-search-results',
            searchUrl: '@Url.Action("Search", "Search")',
            emptyMessage: 'No results found.',
            displayProperty: 'displayText'
        });
     });

</script>