@import "../abstracts/mixins"; 

.container {
    width: 100%;
    padding-inline: 1rem;
    margin: auto;

    @include respond-to('medium') {
        max-width: 720px;
    }

    @include respond-to('large') {
        max-width: 1140px;
    }

    @include respond-to('x-large') {
        max-width: 1320px;
    }
}

.login-container {
    width: 600px; 
    height: 900px; 

}

.popupp-container {
    width: 550px; 
    height: 1131px; 
}