@import "../abstracts/mixins"; 

.container {
    margin: auto;
    width: 100%;
    padding-inline: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-content: center; 
    padding-top: 2rem;

    @include respond-to('medium') {
        max-width: 720px;
    }

    @include respond-to('large') {
        max-width: 1140px;
    }

    @include respond-to('x-large') {
        max-width: 1320px;
    }
}

.container-large {
    @include respond-to('medium') {
        max-width: 768px;
    }

    @include respond-to('large') {
        max-width: 1200px;
    }

    @include respond-to('x-large') {
        max-width: 1400px;
    }
}
