@import "../abstracts/mixins"; 


.container {
    margin: auto;
    width: 100%;
    padding-inline: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-content: center; 
    padding-top: 2rem;

    @include respond-to('medium') {
        max-width: 720px;
    }

    @include respond-to('large') {
        max-width: 1140px;
    }

    @include respond-to('x-large') {
        max-width: 1320px;
    }
}

.container-large {
    @include respond-to('medium') {
        max-width: 768px;
    }

    @include respond-to('large') {
        max-width: 1200px;
    }

    @include respond-to('x-large') {
        max-width: 1400px;
    }
}



.login-container {
    width: 600px; 
    height: 700px; 
    padding: 4rem 2rem 1rem 2rem; 
}

.signup-container {
    width: 600px; 
    height: 900px; 
    padding: 4rem 2rem 1rem 2rem; 
    gap: 2rem; 
}

.add-project-container {
    width: 550px; 
    height: 1131px; 
    padding: 1rem;
    

    h2 {
        align-self: flex-start;
        padding: 1rem;
    }
}

.add-member-container {
    width: 530px; 
    height: 1110px; 
    padding: 1rem;

    h2 {
        align-self: flex-start;
        padding: 1rem;
    }
}

.side-by-side {
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}
