.main-footer {
    grid-row: 3/4;
    grid-column: 2/5;
    
    display: grid;
    grid-template-columns: 30px auto 30px;
    align-items: center;
    width: 100%; 
    
    .cookieConsentIcon {
        grid-column: 1; 
        font-size: 16px; 
        padding-left: 1rem; 
        justify-self: start; 
    }

    .center {
        grid-column: 2; 
        justify-self: center; 
    }
}
