.header {
    grid-column: 1; 
    grid-row: 1;
    display: flex;
    flex-direction: row;
    gap: .5rem; 
    align-items: center;
    justify-content: left; 
    border-right: 1px solid $clr-border-200; 
    height: 80px; 
    padding: 1rem; 
}
