.header {
    grid-column: 1;
    grid-row: 1;
    border-right: 1px solid $clr-border-200;
    height: 80px;


    .header-link {
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        width: min-content;
        gap: .5rem;
        align-items: center;
        justify-content: left;
        margin: 1rem;
        text-decoration: none;
        color: $clr-body-dark;
    }
}
