.page-login {
    background-color: $clr-background;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center; 
}

.page-projects {
    background-color: $clr-background;
    min-width: 100vw;
    min-height: 100vh;
}
