.top-bar {
    grid-column: 2/5;
    grid-row: 1/2;
    border-bottom: 1px solid var(--clr-border-200);
    display: grid;
    grid-template-columns: 14fr 1fr 1fr 2fr;
    align-content: center;
    justify-content: space-between;
    color: var(--clr-body);
    position: relative;

    i {
        color: var(--clr-heading);
    }
}

//Had lots of tips from both Claude AI and ChatGPT on the transitions for the transition of the search results. The final result is from very mixed efforts... 
.search-function {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    border: none;
    height: 4rem 2rem;
    align-content: center;
    position: relative;
}

.search-input {
    color: var(--clr-body);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 2rem;
    height: 100%;
    width: 100%;


    label {
        flex: 1;
    }

    input {
        flex: 20;
        height: 100%;
        width: 100%;
        border: none;
        font-size: 15px;
        font-weight: 400;
        font-family: Nunito;
        background-color: transparent;
    }
}

.free-text-search-results {
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    max-height: 0;
    padding: 0 3.5rem;
    opacity: 0;
    background-color: var(--clr-surface);
    z-index: 100;
    border: 1px solid var(--clr-grey-100);
    border-radius: 0 0 16px 16px;
    overflow: hidden;
    overflow-y: auto;
    transition: height .4s ease-in-out .2s, padding .4s ease-in-out .2s, opacity .4s ease-in-out .2s;

    .search-item {
        padding: .5rem 1rem;
        cursor: pointer;

        &:hover {
            color: var(--clr-accent);
        }
    }
}


.free-text-search-results.visible {
    max-height: 20rem;
    padding: 1rem 3.5rem;
    opacity: 1;
}



