<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alpha</title>
    <script type="importmap"></script>
    <script src="https://kit.fontawesome.com/584828937d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/SCSS/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp_MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <section class="gray-base">
        <main class="container">
           @RenderBody()
        </main>
    </section>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
