@{
    ViewData["Title"] = "Home Page";
}


<section class="page-login">
        <header class="container">
        </header>
        <main class="container">
            HOME
        </main>
        <footer class="container footer">
            <p class="center">© 2025 Alpha. All rights reserved.</p>
        </footer>
</section>

