

@model SignUpFormModel
	@{
	ViewData["Title"] = "Sign Up";
}

<div class="popup-container signup-container">
    <h2 class="center">Create Account</h2>
    <button class="btn btn-google">Sign Up with Google</button>
    <div class="divider">OR</div>
    <form class="form">
        <div class="horizontal-form">
            <div class="form-input">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" class="input-box" placeholder="Your first name">
            </div>
            <div class="form-input">
                <label for="lastName">Last Name</label>
                <input type="email" name="lastName" class="input-box" placeholder="Your last name">
            </div>
        </div>

        <div class="form-input">
            <label for="email">Email</label>
            <input type="text" name="email" class="input-box" placeholder="Your email address">
        </div>
        <div class="form-input">
            <label for="password">Password</label>
            <input type="password" name="password" class="input-box" id="input-password" placeholder="Enter your password">
        </div>
        <div class="form-input">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" class="input-box" id="input-password" placeholder="Confirm your password">
        </div>
        <div>
            <input type="checkbox" name="termsAndConditions">
            <label for="termsAndConditions">I accept <a>Terms and Conditions</a></label>
        </div>
        <button class="btn btn-login">Create Account</button>
    </form>
    <p id="no-account">Already have an account <a>Login</a></p>
</div>