@model LoginFormViewModel
@{
    ViewData["Title"] = "Sign in";
    Layout = "_CleanLayout";
}


<div class="login-container">
    <h2 class="center">Login</h2>
    <div>
        @await Html.PartialAsync("Partials/Components/_ExternalAuthentication")
    </div>
    <div class="divider">OR</div>
    <form asp-action="SignIn" asp-controller="Auth" method="post" class="form" id="login-form" novalidate>
        <div class="form-content">
            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
            <div class="form-input">
                <label asp-for="Email"></label>
                <div class="input-group">
                    <input asp-for="Email">
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="form-input">
                <label asp-for="Password"></label>
                <div class="input-group">
                    <input asp-for="Password" id="input-password">
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
            <div>
                @ViewBag.ErrorMessage
                @if (ViewBag.DebugMessage != null)
                {
                    <div class="alert alert-warning">
                        <strong>Debug Info:</strong> @ViewBag.DebugMessage
                    </div>
                }

                @if (ViewBag.PasswordReset != null)
                {
                    <div class="alert alert-info">
                        @ViewBag.PasswordReset
                    </div>
                }
            </div>
            <div class="horizontal-form">
                <div>
                    <input type="checkbox" name="RememberMe" id="RememberMe" value="true">
                    <input type="hidden" name="RememberMe" value="false" />
                    <label for="RememberMe">Remember me</label>
                </div>
                <a>Forgot password?</a>
            </div>
        </div>
        <button type="submit" class="btn btn-login">Log In</button>
    </form>
    <p id="no-account">Don't have an account? <a asp-controller="Auth" asp-action="SignUp">Sign up</a></p>
    <p id="admin-account">Are you an administrator? <a asp-controller="Auth" asp-action="AdminSignIn">Log in here!</a></p>
</div>
