@model SignUpViewModel
@{
	ViewData["Title"] = "Sign up";
    Layout = "_CleanLayout";
}

<div id="signup-container" class="signup-container">
    <h2 class="center">Create Account</h2>
    <div>
        @await Html.PartialAsync("Partials/Components/_ExternalSignUp")
    </div>
    <div class="divider">OR</div>
    <form id="signup-form" asp-action="SignUp" asp-controller="Auth" method="post" class="form" novalidate>
        <div class="horizontal-form">
            <div class="form-input">
                <label asp-for="FirstName"></label>
                <div class="input-group">
                    <input asp-for="FirstName">
                    <span asp-validation-for="FirstName"></span>
                </div>
            </div>
            <div class="form-input">
                <label asp-for="LastName"></label>
                <div class="input-group">
                    <input asp-for="LastName">
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>
        </div>
        <div class="form-input">
            <label asp-for="Email"></label>
            <div class="input-group">
                <input asp-for="Email">
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="form-input">
            <label asp-for="Password"></label>
            <div class="input-group">
                <input asp-for="Password" id="input-password">
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="form-input">
            <label asp-for="ConfirmPassword"></label>
            <div class="input-group">
                <input asp-for="ConfirmPassword" id="confirm-password">
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            
        </div>
        <div>
            <input asp-for="AcceptTerms" type="checkbox">
            <label asp-for="AcceptTerms">I accept <a>Terms and Conditions</a></label>
            <span asp-validation-for="AcceptTerms"></span>
        </div>
        <button type="submit" class="btn btn-login">Create Account</button>
    </form>
    <p id="no-account">Already have an account? <a asp-controller="Auth" asp-action="SignIn">Log in</a></p>
</div>
