:root {
    --background: $clr-background;
    --surface: $clr-surface;
    --heading: $clr-heading;
    --body: $clr-body-light;

    --orange: $clr-orange;
    --red: $clr-red;
    --yellow: $clr-yellow;
    --blue: $clr-blue-1;
    --green: $clr-green;
    --purple: $clr-purple;

}

.darkmode {
    --background: $clr-border-200;
    --surface: $clr-heading;
    --heading: $clr-surface;
    --body: $clr-body-dark;
    --orange: $clr-dark-orange;
    --red: $clr-dark-red;
    --yellow: $clr-dark-yellow;
    --blue: $clr-dark-blue-1;
    --green: $clr-dark-green;
    --purple: $clr-dark-purple;
}