@model int

<div id="delete-dialogue">
    <h4>Are you sure you want to delete the project?</h4>
    <p>This action cannot be undone.</p>
    <div class="horizontal">
        <button type="button" class="btn btn-message" data-close="true">Cancel</button>
        <form method="post" asp-controller="Project" asp-action="DeleteProject">
            <input type="hidden" name="id" class="deleteProjectId" value="@Model" />
            <button type="submit" class="btn btn-confirm-delete">Delete</button>
        </form>
    </div>
</div>
