
@model ProjectViewModel
@{
	ViewData["Title"] = "Add Project";
}


<div>
	<div>
		<form method="post" asp-controller="Project" asp-action="AddProject">

			<div>
				<label asp-for="FormData.ProjectName"></label>
				<input asp-for="FormData.ProjectName" value="@Model?.FormData?.ProjectName" />
				<span asp-validation-for="FormData.ProjectName"></span>
			</div>

			<div>
				<label asp-for="FormData.SelectedTeamMemberIds"></label>
				<select asp-for="FormData.SelectedTeamMemberIds" asp-items="@Model?.MemberOptions" value="@Model?.FormData?.SelectedTeamMemberIds">
					<options value="" disabled selected hidden>"-- Select a member to add to the team --"</options>
				</select>
				<span asp-validation-for="FormData.SelectedTeamMemberIds"></span>
			</div>
			


		</form>
	</div>
</div>
