@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="notification-box">
    <div class="horizontal space-between" id="notification-row">
        <h5>Notifications</h5>
        <div class="notification-number">
            <h3>1</h3>
        </div>
    </div>
    <div class="single-line"></div>
    <div class="notification horizontal">
        <img src="/images/Icons/projectlogo.svg" />
        <div class="vertical">
            <p>ASP.NET Web App added. </p>
            <span>10 minutes ago</span>
        </div>
        <button class="btn-x"></button>
    </div>
</div>