$breakpoints: ( 
    'medium': 768px, 
    'large': 1200px, 
    'x-large':1400px, 
    );

$clr-heading: #1A1926;
$clr-body-light: #637085;
$clr-body-dark: #28263B;
$clr-grey-100: #F5F7FA;
$clr-grey-200: #F0F1F5;
$clr-grey-300: #E8EAED;
$clr-grey-400: #E3E5E8;
$clr-border-100: #EBEEF2;
$clr-border-200: #E3E5E8;
$clr-border-300: #C6C8CC;
$clr-background: #F1F3F7;
$clr-surface: #FFFFFF;
$clr-accent: #2D99FF;

$clr-orange: #FF9640;
$clr-red: #FF6640;
$clr-yellow: #FFD422;
$clr-blue-1: #2CD9D9;
$clr-green: #31D482;
$clr-purple: #826AF9;

$clr-dark-green: #24B26B;
$clr-dark-orange: #F09330;
$clr-dark-yellow: #FCBB42;
$clr-dark-red: #E94D3F;
$clr-dark-blue: #2D7DCC;
$clr-dark-purple: #634CD4;
$clr-dark-accent: #2682D9;

$clr-dark-grey-100: #585480;
$clr-dark-grey-200: #464266;
$clr-dark-grey-300: #3e3a5b;
$clr-dark-grey-400: #36334e;

$clr-border-dark-100: #1d1d1d;
$clr-border-dark-200: #353535;
$clr-border-dark-300: #484848;


$shadow-drop-1: #040f152d; 

$clr-accent-opacity: rgb(26, 142, 255, 0.10);
$clr-green-opacity: rgb(85, 212, 106, 0.10);
$clr-yellow-opacity: rgb(255, 212, 34, 0.10);
$clr-red-opacity: rgb(255, 102, 64, 0.10);
$clr-purple-opacity: rgb(130, 106, 249, 0.10);
$clr-grey-opacity: rgb(130, 106, 249, 0.10);

$clr-dark-accent-opacity: rgb(38, 130, 217, 0.10);
$clr-dark-green-opacity: rgb(36, 178, 107, 0.10);
$clr-dark-yellow-opacity: rgb(252, 187, 66, 0.10);
$clr-dark-red-opacity: rgb(233, 77, 63, 0.10);
$clr-dark-purple-opacity: rgb(99, 76, 212, 0.10);
$clr-dark-grey-opacity: rgb(40, 38, 59, 0.10);

$clr-body-dark-2: #9E9E9E;



